.App {
  text-align: center;
  
}

.widget-order-stats {
  display: flex;
  flex-wrap: wrap;

}

.order-stat {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
  background-color:white;
}

@media (max-width: 768px) {
  .order-stat {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .order-stat {
    flex-basis: calc(100% - 20px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
